body {
    color: #333;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: black;

}

body {
    display: block;
    margin: 8px;
}

a {
    font-style: italic;
}