

body {
    background: url(images/sakuratree.gif);
    background-color: white;
    overflow-x: auto;
    
}

.p1 {
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    text-align: center;
}

.p2 {
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    text-align: center;
}

.p3 {
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    text-align: center;
}